<!-- This view shows the current data about the selected teacher and asks for the update in any of the information about teacher -->
@model C_Cumulative1.Models.Teacher
@{
    ViewBag.Title = "Update";
}

<script>
    //Client side validation

    function processForm() {
        var fname = document.getElementById("TeacherFname").value;
        var lname = document.getElementById("TeacherLname").value;
        var employeeno = document.getElementById("EmployeeNumber").value;
        var hiredate = document.getElementById("HireDate").value;
        var salary = document.getElementById("Salary").value;
        var msg = document.getElementById("Outmessage");
        var fnameError = document.getElementById("fnameError");
        var lnameError = document.getElementById("lnameError");
        var empNoError = document.getElementById("empNoError");
        var hiredateError = document.getElementById("hiredateError");
        var salaryError = document.getElementById("salaryError");
        if (fname === "") {
            fnameError.innerHTML = "Please fill the Teacher First Name";
            fnameError.style.color = "red";
            return false;
        }
        else {
            fnameError.innerHTML = "";
        }
        if (lname === "") {
            lnameError.innerHTML = "Please fill the Teacher Last Name";
            lnameError.style.color = "red";
            return false;
        }
        else {
            lnameError.innerHTML = "";
        }
        if (employeeno === "") {
            empNoError.innerHTML = "Please fill the Employee Number";
            empNoError.style.color = "red";
            return false;
        }
        else {
            empNoError.innerHTML = "";
        }
        if (hiredate === "") {
            hiredateError.innerHTML = "Please select the hire date ";
            hiredateError.style.color = "red";
            return false;
        }
        else {
            hiredateError.innerHTML = "";
        }
        if (salary === "") {
            salaryError.innerHTML = "Please enter the salary of teacher";
            salaryError.style.color = "red";
            return false;
        }
        else {
            salaryError.innerHTML = "";
        }

       
        return true;



    };

</script>

<h2>Update Teacher</h2>
<nav>
    <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Back</a>
</nav>

<form method="POST" action="/Teacher/Edit/@Model.TeacherId" onsubmit="return processForm()">

    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" />
        <span id="fnameError"></span>

    </div>
    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" />
        <span id="lnameError"></span>

    </div>

    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber" />
        <span id="empNoError"></span>
    </div>
    <div>
        <label for="HireDate">Hire Date:</label>
        <input type="date" id="HireDate" name="HireDate" value="@Model.HireDate.ToString("yyyy-MM-dd")" />
        <span id="hiredateError"></span>
    </div>
    <div>
        <label for="Salary">Salary:</label>
        <input type="number" id="Salary" name="Salary" step="0.01" min="0" placeholder="50.00" value="@Model.Salary" />
        <span id="salaryError"></span>
    </div>

    <div>
        <input type="submit" value="Update Teacher" />
    </div>
    <div id="Outmessage"></div>
</form>

